@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quiz Web Application</h1>
    <p><strong>A Quiz with general knowledge questions about animals.</strong></p>
</div>
