@*Search page*@

<h4>Search for a question by word:</h4>
<hr />
@*A Form for searching and a button to go back to list*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults">
            <div class="form-group">
                <label name="SearchWord" class="control-label"></label>
                <input name="SearchWord" class="form-control" />
            </div>
            <div class="form-group">

                <input type="submit" value="Search" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>


